body {
  margin: 0;
  padding: 0;
}
.renderer-wrapper {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* width: 100%; */
}
.renderer {
  border: 1px dashed blue;
  width: 50%;
  /* display: inline-flex; */
}

/* Solarized stuff. Credit: https://github.com/alphapapa/solarized-everything-css/ */
* {
  border-color: #909396 !important;
}
a {
  color: #ce4139 !important;
}
a:visited {
  color: #b68800 !important;
}
body {
  background-color: #262626 !important;
  color: #909396 !important;
}
html {
  background-color: #262626 !important;
}
input,
textarea {
  background-color: #2e2e2e !important;
  color: #909396 !important;
}
blockquote,
pre {
  background-color: #2e2e2e !important;
  color: #909396 !important;
}
* {
  border-color: #909396 !important;
}
a {
  color: #ce4139 !important;
}
a:visited {
  color: #b68800 !important;
}
body {
  background-color: #262626 !important;
  color: #909396 !important;
}
html {
  background-color: #262626 !important;
}
input,
textarea {
  background-color: #2e2e2e !important;
  color: #909396 !important;
}
blockquote,
pre {
  background-color: #2e2e2e !important;
  color: #909396 !important;
}